/* Estilos gerais para a tela */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;  
    position: relative;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.texto__paragrafo {
    font-size: 32px;          /* Ajusta o tamanho da fonte */
    font-weight: 400;         /* Define o peso da fonte (regular) */
    line-height: 1.5;         /* Ajusta o espaçamento entre as linhas para melhorar a legibilidade */
    text-align: left;       /* Centraliza o texto */
    color: #fff;              /* Define a cor do texto como branca */
    margin: 20px 0;           /* Adiciona margem acima e abaixo do parágrafo */
    font-family: 'Inter', sans-serif; /* Define a fonte usada no texto */
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    padding: 2rem;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 1rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 18px;
        padding: 12px 20px;
    }

    .container__input {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    body {
        padding: 10px;
    }

    .container {
        width: 90%;
        height: 70%;
        padding: 1rem;
    }

    h1 {
        font-size: 40px;
    }

    .container__botao {
        font-size: 16px;
        padding: 10px 16px;
    }

    .container__input {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .container {
        width: 95%;
        height: auto;  /* Deixa a altura adaptável */
        padding: 1rem;
    }

    h1 {
        font-size: 30px;
    }

    .container__botao {
        font-size: 14px;
        padding: 8px 12px;
    }

    .container__input {
        font-size: 14px;
    }
}
